<% if (succmsg && succmsg.length > 0) { %>
  <div class="alert alert-success alert-dismissible fade show col-6 offset-3" role="alert">
    <%= succmsg[0] %>
    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
  </div>
<% } %>


<% if (errmsg && errmsg.length > 0) { %>
  <div class="alert alert-danger alert-dismissible fade show col-6 offset-3" role="alert">
    <%= errmsg[0] %>
    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
  </div>
<% } %>
