<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div class="footer">
        <div class="f-socials">
            <a href=""><i class="fa-brands fa-twitter"></i></a>
            <a href=""><i class="fa-brands fa-instagram"></i></a>
            <a href=""><i class="fa-brands fa-facebook"></i></a>

        </div>
        <div class="f-brand"> &copy; WanderLust Pvt Ltd</div>
        <div class="f-info">
            <a href="#">privacy</a>
            <a href="#">terms</a>
        </div>

    </div>
    
</body>
</html>